.app {
    min-height: 100vh;
    background: rgb(103, 185, 212);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tweet {
    height: 290px;
    width: 290px;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}